.item-thumbnail {
  margin: 15px;
  padding: 20px;
  width: 176px;

  display: flex;
  flex-direction: column;
}

.item-thumbnail__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
