.product-thumbnail {
  margin: 15px;
  padding: 20px;
  width: 176px;

  display: flex;
  flex-direction: column;
}

.product-thumbnail__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product-thumbnail__row input {
  width: 40px;
}

.product-thumbnail__cta {
  text-align: right;
  margin-top: 15px;
}
