.shopping-cart {
  width: 250px;
}

.shopping-cart__title {
  text-align: center;
}

.shopping-cart__masonry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shopping-cart__buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
