.app {
  width: 1200px;
  margin: 80px auto;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  padding: 60px 30px 30px;
}

.app__header img {
  margin-bottom: 15px;
}

.app__content {
  display: flex;
  justify-content: space-between;
}
